<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/v1/users/update/<%= user._id %>?_method=PUT" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="_method" value="PUT">
        <input type="text" name="fullName" value="<%= user.fullName %>" required>
        <input type="submit" value="update">
    </form>
</body>
</html>